@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
Türkiye’de tüketicileri ilk defa teknoloji marketi konseptiyle tanıştıran Microyazılım, bugün geniş mağaza ağı, Microyazılım.com ve mobil platformlarıyla müşterisine en yakın teknoloji perakende zinciri konumundadır.

Microyazılım İç ve Dış Ticaret A.Ş., Sabancı Holding bünyesinde 2000 yılında kurulmuştur ve 2012 yılından bu yana BİST’te işlem görmektedir. ‘Herkes için Teknoloji’ ilkesiyle hareket eden şirket, müşterilerine her an, her yerde kolay erişim sağlayarak keyifli bir alışveriş deneyimi sunmaktadır.

Yaygınlığı, hizmet kalitesi, güvenilirliği ve ürün çeşitliliği ile dinamik, yenilikçi ve atılımcı yapısı sayesinde sektöründe fark yaratan Microyazılım, paydaşlarıyla birlikte geleceği şekillendirmektedir.

Sürdürülebilirlik odaklı faaliyetlerini sürdüren Microyazılım, topluma ve tüm paydaşlarına daha fazla değer sunma amacındadır. 23 yılı aşkın deneyimiyle, mağazacılık ve e-ticaret alanında faaliyet gösteren Şirket, İklimsa markası ile iklimlendirme sektöründe de etkin rol oynamaktadır.

Microyazılım, markasına ve çalışanlarına sürekli yatırım yaparak, uzman insan kaynağı yetiştirerek, müşteri memnuniyeti için yenilikçi hizmetlere öncülük ederek, tüketicilerin ihtiyaçlarına göre en uygun kanal yapısı ile ürün karmasını oluşturarak ve cesur adımlar atarak sektördeki öncü konumunu korumaktadır.

Türkiye’de tüketicileri ilk defa teknoloji marketi konseptiyle tanıştıran Microyazılım, bugün geniş mağaza ağı, Microyazılım.com ve mobil platformlarıyla müşterisine en yakın teknoloji perakende zinciri konumundadır.

Microyazılım, müşteri beklentilerine göre dijital ve fiziki kanalların harmanlandığı uygulamalarıyla omnichannel (çoklu kanal) modelinde sektörüne öncülük etmektedir.

Sektörün ilk teknoloji odaklı pazaryerini hayata geçiren Şirket, teknoloji ekosistemindeki tüm ürün ve hizmetleri bütünsel bir deneyim ve Microyazılım güvencesiyle sunmaktadır.

Ayrıca müşteri odaklı yeni konsept mağazaları ile müşterilerine çok daha rahat, dijital, erişilebilir ve sürdürülebilir bir alışveriş deneyimi yaşatmaktadır.

Türkiye’de elektronik ürünlerde en büyük servis ekosistemini oluşturmak için adımlar atan Microyazılım, dijital dönüşümü tedarik zincirinden başlayıp, ürünün son tüketiciye ulaşması ve satış sonrasını da kapsayacak şekilde gerçekleştirmektedir.

Veriye dayalı bir yönetim kültürünü benimseyen Şirket, bu doğrultuda CRM yatırımlarına da hız kesmeden devam etmektedir. Yapay zekâ algoritmalarıyla veriyi analiz eden Şirket, müşterilerine sunduğu deneyimi en iyi hale getirmek için yeni uygulamalar hayata geçirmektedir.

Geleceğin Microyazılım’sı için çalışmalarını hız kesmeden sürdüren Microyazılım, önümüzdeki dönemde mağazalar, Microyazılım.com, pazaryeri, müşteri deneyimi, iş sürekliliği, operasyonel mükemmellik ve insan kaynağına olan yatırımları ile perakendede bütünsel deneyimin öncüsü olmaya ve kazandıklarını, paydaşları ve ülkesi için faydaya dönüştürmeye devam edecektir.
