@model MicroYazilim.Models.Hizmetler
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@Html.DisplayFor(x=>x.Baslik)<br />
@Html.DisplayFor(x=>x.Icerik)<br />
<img src="@Html.DisplayFor(x=>x.Resim)" width="900px" height="700px">

