@model List<MicroYazilim.Models.Hizmetler>
<link href="~/css/hizmet.css" rel="stylesheet" />
<div class="main">
            @foreach (var x in Model)
            {
                <div class="icerik">
                  @x.Baslik
                  <a asp-controller="Hizmet" asp-action="Details" asp-route-id="@x.id">
                    <img src="@x.Resim" width="300px" height="300px">
                  </a>
                </div>
            }
</div>
        